// _mixin.scss

@mixin cssGrid ($nb_col_grid, $gutter_width) {
    display: grid;
    grid-template-columns: repeat($nb_col_grid, 1fr);
    grid-auto-flow: row;
    grid-gap: $gutter_width;

    padding-left: $gutter_width;
    padding-right: $gutter_width;
}

@mixin flexRowWrap() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flexRowNoWrap() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
 