// style.scss

h2 {
    color: orange;
    font-weight: bolder;
}

main {
    padding-bottom: 3em;
}
main nav {
    color: orange;
}

body > header {

    box-shadow: 0.5em 0.5em 0.7em gray;

    #header_text {
        color: gray;
        font-weight: bolder;
        font-size: 1.5em;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

article {

    header {
        margin-bottom: -0.5em;
    }

    .author_article {
        margin-left: -5em;

        ul a {
            text-decoration: underline;
        }

        ul>li + li {
            font-style: italic;
        }
    }
    
    h3 {
        text-transform: uppercase;
        font-size: 0.7em;
        color: wheat;
        text-shadow: 1px 1px 0.1px black;
    }

    .separator {
        height: 0.5em;
        width: 4em;
        background-color: black;
    }

    .article_text {
        text-align: justify;
        font-size: 1.1rem;
    }
    
    box-shadow: 0.5em 0.2em 0.7em gray;
    padding: 1em;
}