// style.scss
@font-face {
    font-family: 'majorl';
    src: url("../fonts/majorl.ttf") format("truetype");
 }

 @font-face {
    font-family: 'teaspoon';
    src: url("../fonts/teaspoon.ttf") format("truetype");
 }

 $font: 'teaspoon', sans-serif;

 body {
    // font-family: $font;
    // font-weight: lighter;
}

h2 {
    color: orange;
    font-weight: bolder;
}

main nav {
    color: orange;
}

body > header {

    box-shadow: 0.5em 0.5em 0.7em gray;

    #header_text {
        color: gray;
        font-weight: bolder;
    }
    
}