// style.scss
@font-face {
    font-family: 'majorl';
    src: url("../fonts/majorl.ttf") format("truetype");
 }

 @font-face {
    font-family: 'teaspoon';
    src: url("../fonts/teaspoon.ttf") format("truetype");
 }

 $font: 'teaspoon', sans-serif;

 body {
    // font-family: $font;
    // font-weight: lighter;
    text-align: justify;
}

h2 {
    color: orange;
    font-weight: bolder;
}

main {
    padding-bottom: 3em;
}
main nav {
    color: orange;
}

body > header {

    box-shadow: 0.5em 0.5em 0.7em gray;

    #header_text {
        color: gray;
        font-weight: bolder;
    }
    
}

a {
    color: inherit;
    text-decoration: none;
}

article {

    .author_article {

        ul a {
            text-decoration: underline;
        }
        
        ul>li + li {
            font-style: italic;
        }
    }

    box-shadow: 0.5em 0.2em 0.7em gray;
    padding: 1em;
}